.THIS.bgcol{
    background-color:#4891dc;
    color:white;
}
.THIS .headCSS{
    margin-top:20px;
}
.THIS.borderaround{
    border-color: black;
    border-style: solid;
    border-width: thin;
}
.THIS.heading{
    text-decoration: none;
    font-size: 15px !important;
    font-weight: bold;
    color:#4891dc;
}
.THIS.tableAlign{
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}
.THIS .customButton{
    background-color: #4891dc;
    width:10%;
    height:35px;
    font-size:15px;
    margin-top: 40px;
    margin-left:255px;
    color: #ffffff;
}
.THIS .divCSS{
    font-size:15px;
    font-weight:bold !important;
    width:215px;
    background-color:#4891dc !important;
    color:white !important;
}