.THIS .custombackground{
    background-color: white;
}
.THIS .shiftRight{
    position : absolute;
  right : 10px;  
}
.THIS .slds-scrollable_x {
    overflow-y:visible !important;
    overflow-x:visible !important;
}

.THIS .slds-scrollable_y {
    overflow-y:visible !important;
    overflow-x:visible !important;
}
.THIS .modalCSS {
    position: absolute;
    z-index: 999;
    top: 30%;
    left: 40%;
    background: white;
    width: 70%;
}