.THIS.custom-background{
    background-color: white;
}
.THIS .modalCSS {
     z-index: 999;
    position: absolute;
    top: 20%;
    left: 40%;
    background: white;
    width: 50%;
}
.THIS .slds-scrollable_x {
    overflow-y:visible !important;
    overflow-x:visible !important;
}

.THIS .slds-scrollable_y {
    overflow-y:visible !important;
    overflow-x:visible !important;
}