.THIS .container1{
    padding-right:15px;
    margin-right:auto;
    padding-left:15px;
    margin-left:auto;
}
.THIS .fontB{
    font-weight:bold;
}
.THIS .custom-background{
    background-color:#e1e1e1;
    width: 375px;
    height:inherited;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
.THIS .customButton{
    background-color:#4891dc;
    width:100%;
    color:white;
    height:35px;
    margin-top:10px;
    font-size:18px;
    border-color:white;
}
.THIS .title{
    font-size:18px;
    font-weight:bold;
    color:#337ab7;
}
.THIS .formwidth{
    width:275px;
}