.THIS .customButton {
position:absolute;
    right:0;
    margin-right:20px;
}
.THIS .customTable {
width:200%;
}

.THIS .bgcolor {
background-color:rgb(0,112,210,0.50);
      color:white;
}


.THIS .headingbgcolor {
background-color:rgb(255,255,255);
  
}