.THIS .custombackground{
    background-color: white;
}
.THIS .marginCSS{
    margin-top : -25px;
}
.THIS .shiftRight{
    position : absolute;
    right : 10px;  
}
.THIS .shiftTop{
    margin-top : -25px;
}
.THIS .slds-scrollable_x {
    overflow-y:visible !important;
    overflow-x:visible !important;
}

.THIS .slds-scrollable_y {
    overflow-y:visible !important;
    overflow-x:visible !important;
}
.THIS.modalCSS{
    z-index: 999;
    position: absolute;
    top: 20%;
    left: 40%;
    background: white;
    width: 50%;
}