.THIS .logobg{
    background-color:#D2E6ED;
    height:inherited;
}
.THIS .footertext1{
	font-family: inherit;
    font-size:13px;
    color: #777;
}
.THIS.blockDisplay{
    position:relative;
    display: block;
    padding: 0;
}