<apex:page id="pg" standardController="JJ_JPN_CustomerMasterRequest__c" extensions="JJ_JPN_CustomerNewRegistrationExt" tabStyle="JJ_JPN_CustomerMasterRequest__c">
    <apex:form id="frm">
        <apex:pageBlock id="pgb" title="{!$Label.JJ_JPN_CustomerMasterRequest}">
       <!--<apex:pageBlock id="pgb" title="新規得意先申請"> -->
         <apex:pageMessages id="pmsg" />
         
          <!--------------------------- Account Type Start Here ------------------------------------------------------------------> 
            <apex:pageBlockSection title="{!$Label.JJ_JPN_PleaseSelectBelowCustomerType}" id="SamMgrBlk" columns="2">
                <!--<apex:pageBlockSection title="得意先種類" id="SamMgrBlk" columns="2">-->
                <apex:pageBlockSectionItem >
                     <apex:outputLabel value="{!$ObjectType.JJ_JPN_CustomerMasterRequest__c.fields.JJ_JPN_AccountType__c.label}"/>
                    <apex:actionRegion >
                         <apex:inputField value="{!CMR.JJ_JPN_AccountType__c}" required="true">
                           <!-- <apex:inputField value="{!CMR.JJ_JPN_AccountType__c}">-->
                            <apex:actionSupport reRender="SamMgrBlk,pmsg" event="onchange"/>
                        </apex:inputField>
                   </apex:actionRegion>
               </apex:pageBlockSectionItem>
               <!-- <apex:inputField value="{!CMR.JJ_JPN_SamManager__c}"/> -->
                    <apex:inputField value="{!CMR.JJ_JPN_SamManager__c}" rendered="{!showSAMMgr}" required="true"/>
            </apex:pageBlockSection>
            <!--------------------------- Account Type Ends Here ------------------------------------------------------------------>
            
             <apex:pageBlockSection columns="1" title="{!$Label.JJ_JPN_CustomerNewRegistration}" id="CustReg">
                <!-- <apex:pageBlockSection columns="1" title="新規得意先申請" id="CustReg">-->
                
                <!-------------------  Radion button to display in line by line Starts Here------------------------------------------------>
                <apex:actionRegion >
                <apex:selectRadio layout="pageDirection" style="line-height:35px;" value="{!selectedValueStr}">
                    <apex:selectOptions value="{!items}"/>
                    <!-- when radio button selected will show account type block which is payer,bill----->
                    <apex:actionsupport event="onchange" reRender="accTypBlock,pmsg" action="{!accSubValues}"/>  
                </apex:selectRadio>
                </apex:actionRegion>
                <!-------------------  Radion button to display in line by line Ends Here------------------------------------------------>
            </apex:pageBlockSection>
            
            <!--------------------------- Rendered pageBlockSection as per the radio button values Start Here ------------------------------------------------------------------> 
            
            <apex:outputPanel id="accTypBlock" >
                <apex:pageBlockSection title="Please select below Account" rendered="{!displayAccCatg}" id="pyrBillBtnSection">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.JJ_JPN_CustomerMasterRequest__c.fields.JJ_JPN_PayerAccount__c.label}"/>
                    <apex:actionRegion >
                        <apex:inputField value="{!CMR.JJ_JPN_PayerAccount__c}" rendered="{!showPayerAcc}" required="true" id="pyrAcc"/>
                    </apex:actionRegion>
                </apex:pageBlockSectionItem>
                        <apex:inputField value="{!CMR.JJ_JPN_BillToAccount__c}"  required="true" rendered="{!showFBillToAcc}" id="billTo"/>
                
                </apex:pageBlockSection>
            </apex:outputPanel>
           
            <!--------------------------- Rendered pageBlockSection as per the radio button values Ends Here ------------------------------------------------------------------>
            
            <apex:commandButton action="{!Save}" value="{!$Label.JJ_JPN_Continue}" style="margin-left: 450px;width:71px;"/>
            <apex:commandButton action="{!cancel}" value="{!$Label.JJ_JPN_Cancel}" style="margin-left: 8px;"/> 
            
            <!--<apex:commandButton action="{!Save}" value="次へ" style="margin-left: 450px;width:71px;"/>
            <apex:commandButton action="{!cancel}" value="キャンセル" style="margin-left: 8px;"/> -->
       
        </apex:pageBlock>
    </apex:form>
</apex:page>