<apex:page sidebar="false" showheader="false">
<div class="text-name">
  <h1>Hello</h1>
</div>
<style>
 .text-name {
         color: #CD5C5C;
         font-size:35px;
         letter-spacing:-0px;
         margin-bottom:0px;
         padding: 100px 300px;
 
 }
 </style>
</apex:page>