<apex:page sidebar="false" showHeader="false" controller="IND_TrialRegistrationController" standardStylesheets="false" action="{!initLoad}">
<apex:stylesheet value="{!URLFOR($Resource.js_resources, '/css/animate.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.js_resources, '/css/bootstrap.min.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.js_resources, '/css/style.css')}"/> 
<apex:stylesheet value="{!URLFOR($Resource.js_resources, '/js/bootstrap.min.js')}"/>
<apex:stylesheet value="{!URLFOR($Resource.js_resources, '/js/jquery-2.1.1.js')}"/>

  <script>
       //<meta name="viewport" content="width=device-width, initial-scale=1">
       
       function ValidateInputs(){
                                    
                var month= document.getElementById('{!$Component.ECPForm.month}').value; 
                var custmer= document.getElementById('{!$Component.ECPForm.custmer}').value;
                var Trial= document.getElementById('{!$Component.ECPForm.Trial}').value;
                var Product= document.getElementById('{!$Component.ECPForm.Product}').value;

                //var isDisplayOasys ='{!DisplayOasys}';
                var Boxes= document.getElementById('{!$Component.ECPForm.Boxes}').value;
                if((month== '' || month== null) || (custmer== '' || custmer== null) || (Trial== '' || Trial== null)|| (Product== '' || Product== null)){
                document.getElementById('BoxRequired').innerHTML="Please enter Trial Details";
                }else if(Boxes== '' || Boxes== null){
                document.getElementById('BoxRequired').innerHTML="Please enter number of boxes";
                }/*else if(Boxes!= '' && isNaN(Boxes){
                document.getElementById('BoxRequired').innerHTML="Invalid Number of boxes.Please enter valid number.";
                }*/else if(Boxes!= '' && parseInt(Boxes) > 0 && Product== 'None'){
                document.getElementById('BoxRequired').innerHTML="Product selected is none and box count should be zero";
                }else if(Boxes!= '' && parseInt(Boxes) > 100){
                document.getElementById('BoxRequired').innerHTML="Registration is allowed for a maxmimum of 100 boxes.";
                }else{
                document.getElementById('BoxRequired').innerHTML="";
                RedeemVoucher();
                //document.getElementById('{!$Component.ECPForm.BoxCount}').value="";
                } 
         }
       function ValidateBox(){
                var Boxes= document.getElementById('{!$Component.ECPForm.Boxes}').value;
                var Product= document.getElementById('{!$Component.ECPForm.Product}').value;
                if(Boxes== '' || Boxes== null){
                document.getElementById('BoxRequired').innerHTML="Please enter number of boxes";
                }/*else if(Boxes!= '' && isNaN(Boxes){
                document.getElementById('BoxRequired').innerHTML="Invalid Number of boxes.Please enter valid number.";
                }*/else if(Boxes!= '' && parseInt(Boxes) > 0 && Product== 'None'){
                document.getElementById('BoxRequired').innerHTML="Product selected is none and box count should be zero";
                }else if(Boxes!= '' && parseInt(Boxes) > 100){
                document.getElementById('BoxRequired').innerHTML="Registration is allowed for a maxmimum of 100 boxes.";
                }else {
                document.getElementById('BoxRequired').innerHTML="";
                }
         }
      function RefreshForm(){
             
             Refresh();
             document.getElementById('result').style.display = "none";
             document.getElementById('BoxRequired').innerHTML="";
             document.getElementById('{!$Component.ECPForm.month}').value="";
             document.getElementById('{!$Component.ECPForm.custmer}').value="";
             document.getElementById('{!$Component.ECPForm.Trial}').value="";
             document.getElementById('{!$Component.ECPForm.Product}').value="";
             document.getElementById('{!$Component.ECPForm.BoxCount}').value="";
             
         }
      function LogoutPage(){
            Logout();
             //window.parent.location.href="/apex/ECP_Login";
         }
    </script>
    
    <style>
    
    @iframe {
        border-width:0;
        width: 1000;
        height: 600;
        frameborder: 0;
        scrolling: no;
    }
    
    .gray-bg {
        background-color: #D5F1FF;
    }
        
    .logo-name{
        color: #003380;
        font-size:25px;
        font-weight: 300;
        letter-spacing: -0px;
        margin-bottom: 0px;
        padding: 30px 380px;
        margin: 0 auto;
        
    }
    .loginColumns {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 50px;
    }
    .form-group {
    margin-bottom: 10px;
    width:800px;    
    }   

    .form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 4px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 40% !important;
    font-size: 14px;
    } 
    
    .input-file{
        background-color: #FDFEFE;
        border: 1px solid #e5e6e7;
        padding: 5px 5px;
        width: 47% !important;
        font-size: 16px;
    }
    .block.half-width.btn1.Redeem{ max-width:370px;border:0;}
    
    
    b { 
        color: red;
    }
.gray-bg {background-color:#FDFEFE !important;}
.container .logo-name {padding:20px}
.login-form .loginColumns {max-width:480px; padding:30px 50px; background-color:#e1e1e1;}
.row .middle-box h1 a.sub_heading {text-decoration:none; font-size:18px !important; font-weight:bold; text-transform:uppercase;}
.login-form .form-group .form-control {width:47% !important;}
.login-form .form-group .form-control:focus {border-color:#337ab7 !important;}
.footer-container{background-color:#D2E6ED;}
.footer-secondary {color:#777; padding:0px 0px 20px 0px;}
.footer-primary {padding:20px 0px;}
.footer-secondary {padding:20px 0px;}
.login-form {padding:20px 0px;}
.half-width{width:100%; max-width:265px;}
.container.middle-box.loginscreen {width:1000px;}
.row .sub_heading:hover {color:#337ab7 !important;}
.row .loginscreen.middle-box {width:1000px;line-height: 10px;}
.header-logo {background-color:#D2E6ED;}
@media (min-width: 1024px) 
{
.login-form .loginColumns {padding:30px 20px;}
.container.middle-box.loginscreen
{width:300px;}
.row .loginscreen.middle-box {width:1000px;}
.input-file{width:50% !important;}
.loginColumns {
    min-width: 300px !important;
    padding: 0 !important;
}
.custom_box_status{min-width:250px !important}
.voucher_status_heading{ max-width:100% !important; width:100% !important; padding-left:150px;}
.custom_row div{min-height:50px !important;}
.custom_row2 div{min-height:60px !important;}
.middle-box.loginscreen.voucher_status_heading{padding-left:0px;}
//.custom_row2 div{word-break:break-all;}
.custom_row div{word-break:break-all;}
.sidebar{
  display:block;
 }

}
@media(min-width: 1024px)
{
.rich-tab-header.rich-tab-inactive.activeTab.inactiveTab {min-width:150px;}
.rich-tab-header.rich-tab-active.activeTab {min-width:148px;}
.row .loginscreen.middle-box {min-width:500px !important;line-height: 8px;}
.loginColumns {min-width:300px; padding:10px !important;}
.rich-tabpanel-content .container {padding-left:10px}
.loginColumns > table {display:block; overflow:auto;}
.loginColumns .form-group {padding-left:50px;}
.login-form .form-group .form-control {width:50% !important;}
.col_block_full{min-width:0px !important;}
.min_col_select{width:258px !important}
.col_block_select{min-width:30% !important;}
.col_block_left{width:30%;display:block;float:left;}
.col_block_left input{width:200px !important;}
.block.half-width.btn1.Redeem {
    display: inline-block;
    margin-bottom: 0px;
    min-width: 258px;
}
.custom_left_heading{width:63 !important;}
.pdl-320{padding-left:0px !important}
.sidebar{
  display:block;
 }
}
/*.form_label {float:left;}*/
.pull-right.item-right {padding-right:20px !important;}
@media(min-width:1024px) 
{

.pull-right.item-right {padding-right:5em !important;}

}

.activeTab {background-color:lightgrey; color:black; background-image:none;font-size:150%;}
.inactiveTab {background-color: #236FBD; color:White; background-image:none;font-size:150%;}

.btn1{padding:5px 20px;font-size:15px;color:White; background:#4891dc;border-color:White;}

.Error {color:#cc5965;float:left;font-weight:700;font-size: 16px;margin-top:-13px;}
.loginColumns .form-group .Error {margin-top:0px; margin-bottom:0px;}
.loginColumns .form-group {float:left;}
.title-text {
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    text-align: center;
    width: 86%;
}
.custom_login{max-width:370px;display:block;float:left;background-color:#ffffff;}
.custom_block_left{font-size:13px;color:#4891dc; background:#fff;border-color:#000; width:100%; float:left;}
.custom_left_heading{background-color: #4891dc;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    float: left;
    font-weight: bold;
    padding: 5px;
    text-align: center;
    width: 65%;}
    .custom_right_heading{text-align:center;width:35%;float:left;padding:5px;font-weight:bold;border-bottom:1px solid #4891dc;}
    .col_block_select {
    color: #ffffff;
    font-family: "Gotham SSm 4r","Gotham SSm A","Gotham SSm B",verdana,Arial;
    font-size: 12px;
    font-weight: bold;
    padding:11px;background-color:#4891dc;min-height:40px;border-bottom:1px solid #fff;
}
.custom_input_box {width:120px;padding:4px;font-size:12px; background-color:#ffffff; border: 1px solid #4891dc; margin-left:5px;height:30px;}
.voucher_status{padding-left:0px !important;padding-right:0px !important;}
.voucher_status .voucher_table {width:100%;max-width:1000px;float:initial;background-color:#ffffff;/*display:block*/; margin-bottom:25px;}
.custom_row{font-size:13px;color:White; background:#4891dc;border-color:#000; width:100%; float:left;border-bottom:2px solid #000000;}
.custom_row div{text-align:center;width:7.69%;float:left;padding-top:10px;border-right:2px solid #000;min-height:45px;font-family: "Gotham SSm 4r","Gotham SSm A","Gotham SSm B",verdana,Arial;font-weight: bold;}
.custom_row2{font-size:13px;color:#4891dc; background:white;border-color:#000; width:100%; float:left;}
.custom_row2 div{text-align:center;float:left;padding-top:21px;border-right:2px solid #000;width:7.69%;min-height:61px;border-bottom:2px solid #000000;}
.custom_box_status{border-left:2px solid #000000;border-top:2px solid #000000;  max-width:770px;display:block;float:left;}
.sub_heading {font-size: 12.5px;font-weight: bold;}
.voucher_status_heading{font-size:18px !important ; font-weight:bold; text-transform:uppercase; width:710px !important; max-width:720px;line-height: 40px;}
.voucher_table_heading{color:White; background:#4891dc;border-color:White; min-height:30px;line-height:30px; width:1000px !important; max-width:769px;  width:100%;display:block;float:left;text-align:center;border-bottom:2px solid #000000;border-top:2px solid #000000;}
.voucher_block_left{width:25%;display:block;float:left;}
.voucher_block_right{width:5.769%;display:block;float:left;}
.voucher_name{text-align:center;font-size:15px;}
.voucher_status_content{width:100%;display:block;float:left;border-bottom:2px solid #000000; width:1000px !important; max-width:769px;}
.border_right{border-right:2px solid #000000;}
.border_left{border-left:2px solid #000000;}
no_border{border:none;}
.content_height{min-height:30px;line-height:30px;}
.Header_align{font-weight:bold;text-align:center;}
    </style>
    
              <c:SG_Header />
              <apex:tabPanel switchType="client" selectedTab="TrialRegistrationForm" tabClass="activeTab" inactiveTabClass="inactiveTab" style="color:White; background:#4891dc;border-color:White;" id="theTabPanel">
                  <apex:tab label="Trial Registration Form" name="TrialRegistrationForm" id="tabOne">
                  <apex:form id="ECPForm">
                  <body class="gray-bg">
                  <div class="page">
                      <div class="container">
                          <div class="logo-name1">             
                              <div class="row">
                                  <div class="middle-box text-center loginscreen">
                                      <h1><a href="#" class="sub_heading">MAX Trial Registration Form</a></h1>
                                      <apex:outputText value="Welcome, {!StoreName}" style="font-size:18px;font-weight:bold;"> </apex:outputText>
                                  </div>
                                  
                              </div>
                              
                          </div>
                      </div>
                      </div>
                      <div class="container login-form">
                      <div class="loginColumns">
                      <apex:pageMessages /> 
                      <div class="form-group">
                          <apex:outputLabel value="Month:" for="mnthSelected" style="font-size: 15px;"/> <b>*</b>
                            <apex:selectList size="1" multiselect="false"  id="month" value="{!mnthSelected}" styleClass="form-control" style="padding:0px 0px; font-size: 16px;">
                                <apex:selectOptions value="{!monthOptions}"/>
                            </apex:selectList>
                      </div> 
                      <div class="form-group">
                          <apex:outputLabel value="Trial given to:" for="custmerType" style="font-size: 15px;"/> <b>*</b>
                            <apex:selectList size="1" multiselect="false"  id="custmer" value="{!custmerType}" styleClass="form-control" style="padding:0px 0px; font-size: 16px;">
                                <apex:selectOptions value="{!TrialCustomerOptions}"/>
                            </apex:selectList>
                      </div> 
                      <div class="form-group">
                          <apex:outputLabel value="Select the Brand given for Trial:" for="trialBrnd" style="font-size: 15px;"/> <b>*</b>
                            <apex:selectList size="1" multiselect="false"  id="Trial" value="{!trialBrnd}" styleClass="form-control" style="padding:0px 0px; font-size: 16px;">
                                <apex:selectOptions value="{!TrialBrandOptions}"/>
                            </apex:selectList>
                      </div> 
                      <div class="form-group">
                          <apex:outputLabel value="Select the Brand Purchased:" for="PrdSold" style="font-size: 15px;"/> <b>*</b>
                            <apex:selectList size="1" multiselect="false"  id="Product" value="{!PrdSold}" styleClass="form-control" style="padding:0px 0px; font-size: 16px;">
                                <apex:selectOptions value="{!ProductBrandOptions}"/>
                            </apex:selectList>
                      </div> 
                      <div class="form-group">
                          <apex:outputLabel value="No. of Boxes Purchased" for="BoxCount" style="font-size: 15px;"/> <b>*</b>
                          <apex:InputText id="Boxes" value="{!BoxCount}" styleClass="form-control" onkeyup="ValidateBox();"/>
                          <label id="BoxRequired" class="Error"></label>
                      </div>
                      <div class="form-group" style="float:none;">
                          <!--  <apex:commandButton value="Redeem" action="{!RedeemVoucher}" onclick="Validate();" styleClass="btn btn-primary block half-width"  style="padding:5px 20px;font-size:15px;color:White; background:#4891dc;border-color:White;"/> -->
                             <input type="button" id="btn" value="Register" onclick="ValidateInputs();" Class="block half-width btn1 Redeem" /> 
                      </div>
                      <apex:actionFunction action="{!RedeemVoucher}" name="RedeemVoucher"/>
                      <div id="result">
                          <apex:outputPanel id="ShowResult" rendered="{!showpanel}" styleClass="alert alert-danger" style="padding:0px 10px;font-size:20px; display:block;">
                              <p Class="status"><font color="{!fontcolor}"> {!status} </font></p>
                          </apex:outputPanel> 
                      </div>
                  </div>   
                  </div>
                  </body>
    
                  </apex:form>
                                    
                  </apex:tab>
                  <apex:tab label="Trial Registration Status" name="TrialRegistrationStatus" id="tabTwo" ontabenter="Refresh();">
                  <apex:form id="ECPStatusForm">
                  <body class="gray-bg">
                    <div class="page">
                        <div class="container">
                          <div class="logo-name1">             
                              <div class="row"><div class="middle-box loginscreen voucher_status_heading"><a href="#" class="sub_heading">Trial Registration Status as on {!now()} </a></div></div>
                              </div>
                          </div>
                        </div>
                    <div class="page">
                        <div class="container">
                            <div class="loginColumns voucher_status">
                            <div class="voucher_table">
                            <div class="voucher_status_content">
                            <apex:dataTable value="{!Records}" var="Record" border="1"> 
                            <apex:column > 
                            <div style="font-size:20px;">
                                <apex:facet name="header">Month</apex:facet> 
                            </div>
                            <div style="font-size:15px;">
                                <apex:outputText value="{!Record.Month__c}" /> 
                            </div>
                            </apex:column> 
                            <apex:column > 
                            <div style="font-size:20px;">
                                <apex:facet name="header">Trial given to</apex:facet> 
                            </div>
                            <div style="font-size:15px;">
                                <apex:outputText value="{!Record.CustomerType__c}"/> 
                            </div>
                            </apex:column> 
                            <apex:column > 
                            <div style="font-size:20px;">
                                <apex:facet name="header">Trial Product Name</apex:facet> 
                            </div>
                            <div style="font-size:15px;">
                                <apex:outputText value="{!Record.TrialBrand__c}"/> 
                            </div>
                            </apex:column> 
                            <apex:column > 
                            <div style="font-size:20px;">
                                <apex:facet name="header">CL Brand Purchased</apex:facet> 
                            </div>
                            <div style="font-size:15px;">
                                <apex:outputText value="{!Record.ProductBrand__c}"/> 
                            </div>
                            </apex:column> 
                            <apex:column > 
                            <div style="font-size:20px;">
                                <apex:facet name="header">No. of Boxes Purchased</apex:facet> 
                            </div>
                            <div style="font-size:15px;">
                                <apex:outputText value="{!Record.BoxCount__c}"/> 
                            </div>
                            </apex:column> 
                            </apex:dataTable> 
                            </div>
                            </div>
                            </div>
                            </div>
                        </div>
                        <div class="form-group">
                        <apex:commandButton value="Refresh" action="{!Refresh}" reRender="ECPStatusForm"  styleClass="btn btn-primary" style="max-width: 89px;padding:5px 20px;font-size:15px;color:White; background:#4891dc;border-color:White;"/> 
                        </div>
                      <apex:actionFunction action="{!Refresh}" name="Refresh" reRender="ECPStatusForm"/>
                      </body>
                  </apex:form> 
                  </apex:tab>    
                <!--  <apex:tab label="Log Out" name="LogOuttab" id="tabThree" ontabenter="LogoutPage();" style="margin-left: 720px;">
                      <apex:form >
                          <apex:actionFunction action="{!Logout}" name="Logout"/>
                      </apex:form>
                  </apex:tab>   -->
              </apex:tabPanel>    
                  
      
    <c:ind_footer />
    
         
</apex:page>