<!--**
* File Name: MA2_CouponDetailPage
* Description : Page for showing Coupon Details along with related list
* Copyright : Johnson & Johnson
* @author : Harsh Singh | hsingh53@its.jnj.com | Harsh.Singh2@cognizant.com
* 
* Modification Log 
* =============================================================== 
*    Ver  |Date         |Author                |Modification
*    1.0  |10-Oct-2016  |hsingh53@its.jnj.com   |New Class created
-->
<apex:page standardController="Coupon__c" extensions="MA2_CouponImagesList" showHeader="true" lightningStylesheets="true">
    <apex:includeLightning />
    
    <style>
        .fewerMore { display: none;}
    </style>
    <script>
    function changeStyle(x) {
        x.style.textDecoration="underline";
        
    }
    function removeLine(x) {
        x.style.textDecoration="none";    
    }
    var userContext = "{!$User.UIThemeDisplayed}";
    //alert('getTheme');
    //alert(userContext);
    </script>
    
    <script src="/lightning/lightning.out.js"></script>
    
    <div class="slds-scope">
        <apex:detail inlineEdit="true" relatedList="true" relatedListHover="true"/>
            
            <apex:form >
                
                <apex:pageblock title="Coupon Images" tabStyle="Coupon__c">
                    
                    <apex:pageBlockButtons location="top">
                        
                        <apex:commandButton rendered="{!$User.UIThemeDisplayed == 'Theme3'}" value="New Coupon Image" action="{!newRecord}"/>
                            <apex:commandButton rendered="{!$User.UIThemeDisplayed == 'Theme4d'}" value="New Coupon Image" onclick="pressButton();return false;"/>
                                <apex:commandButton rendered="{!$User.UIThemeDisplayed == 'Theme4t'}" value="New Coupon Image" onclick="pressButton();return false;"/>
                                    
                                    
                                    </apex:pageBlockButtons>
                                <apex:pageblockTable value="{!AttachmentList}" var="attach" rendered="{!if(AttachmentList.size > 0,true,false)}">
                                    <apex:column headerValue="Action">
                                        <b style="font-weight: normal;color: #015ba7;"><apex:commandLink value="Edit" action="{!editFile}"
                                        style="text-decoration:none;color: #015ba7;" onmouseover="changeStyle(this)" onmouseout="removeLine(this)">
                                            <apex:param name="fileId" value="{!attach.couponImageId}" />
                                                </apex:commandLink>&nbsp;|&nbsp; 
                                            
                                            <apex:commandLink value="View" onclick="window.open('/servlet/servlet.FileDownload?file={!attach.fileId}')"
                                            style="text-decoration:none;color: #015ba7;" onmouseover="changeStyle(this)" onmouseout="removeLine(this)">
                                                <apex:param name="recordId" value="{!attach.fileId}" />
                                                    </apex:commandLink>&nbsp;|&nbsp;
                                                
                                                <apex:commandLink value="Del" onclick="if(!confirm('Are you sure?')) return false;" action="{!deleteRecord}"
                                                style="text-decoration:none;color: #015ba7;" onmouseover="changeStyle(this)" onmouseout="removeLine(this)">
                                                    <apex:param name="imageId" value="{!attach.couponImageId}" />
                                                        </apex:commandLink></b>
                                                            </apex:column>
                                                        <apex:column headerValue="File Name" value="{!attach.fileName}" />
                                                            <apex:column headerValue="Coupon Type" value="{!attach.couponType}" />
                                                                <apex:column headerValue="Coupon Status" value="{!attach.status}" />
                                                                    <apex:column headerValue="Created Date" value="{!attach.createdDate}" />
                                                                        <apex:column headerValue="Created By" >
                                                                            <apex:commandLink value="{!attach.createdBy}" onclick="window.open('/{!attach.createdById}')"
                                                                            style="text-decoration:none;" onmouseover="changeStyle(this)" onmouseout="removeLine(this)" />
                                                                                </apex:column>
                                                                            </apex:pageblockTable>
                                                                            </apex:pageblock>
                                                                            </apex:form>
                                                                            </div>
                                                                            
                                                                            
                                                                            
                                                                            <div id="SW_CouponImage_LEX"></div>
                                                                            
                                                                            
                                                                            <script>
                                                                                var component;
    
    function pressButton() {
        console.log('Inside pressButton');
        $Lightning.use("c:SW_CouponImageListApp_LEX", function() {
            $Lightning.createComponent(
                "c:SW_CouponImageList_LEX",
                {
                    "coupdId" : "{!couponId}"
                },
                "SW_CouponImage_LEX",
                function(cmp) {
                    component = cmp;
                    
                    
                    $A.eventService.addHandler({
                        event: 'force:navigateToObjectHome',
                        handler: function(cmp,event) {
                            console.log('Message from comp');
                            console.log(cmp.qc.scope);               
                        }
                    });
                }
            );            
        });
    }
    
    
    
    </script>
    
</apex:page>