<apex:page standardController="JJ_JPN_AccountPlan__c" extensions="MassManager.ActionHubExtension" recordSetVar="accountplan">
    
    <script>
    window.onload = function(e) {
        var profilename='{!$Profile.Name}';
        var recordIds = '{!selected}';
        var Objectname = 'JJ_JPN_AccountPlan__c';
        var action = 'Edit';
        var fieldsetName = 'SW_AccountPlanMassEditFieldSet';
        
        console.log('profilename : ' +profilename);
        if(profilename == 'ASPAC JPN Sales Rep' || profilename == 'ASPAC JPN RM' || profilename == 'ASPAC JPN DM' ||
           profilename == 'ASPAC JPN SSAM' || profilename == 'ASPAC JPN SAM' )
        {
            if(recordIds!='')
            {
                Redirect(recordIds,Objectname,action,fieldsetName);
            }
            else
            {
                alert('Please select a record.');
                window.history.back();
            }
        }
        else{
            alert('You are not allowed to use Mass Edit');
            window.history.back();
        }
    };
    </script>
    <apex:form >
        <apex:actionFunction action="{!Redirect}" name="Redirect" rerender="none">
            <apex:param name="recordIds" assignTo="{!recordIds}" value=""/>
            <apex:param name="Objectname" assignTo="{!objectName}" value=""/>
            <apex:param name="action" assignTo="{!action}" value=""/>
            <apex:param name="fieldsetName" assignTo="{!fieldsetName}" value=""/>
        </apex:actionFunction>
    </apex:form>
    
</apex:page>