<apex:page sidebar="false" showHeader="false" controller="SGCampaignController" standardStylesheets="false">
<apex:stylesheet value="{!URLFOR($Resource.js_resources, '/css/animate.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.js_resources, '/css/bootstrap.min.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.js_resources, '/css/style.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.js_resources, '/js/bootstrap.min.js')}"/>
<apex:stylesheet value="{!URLFOR($Resource.js_resources, '/js/jquery-2.1.1.js')}"/>

<apex:includeScript value="//code.jquery.com/jquery-1.9.1.js"/>
<apex:includeScript value="//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"/>

    <apex:form id="ECPForm">
          <body class="gray-bg">
                             
          <div class="page">
           <div class="row header-logo">
           <div class="container">
           <div Style="padding: 30px 0px;" class="pull-right item-right"><apex:image value="{!$Resource.Acuvue_Home}" height="" width=""/></div>
           </div>
           </div>
          <div class="container">
          <div class="logo-name1">             
              <div class="row"><div class="middle-box text-center loginscreen"><h1><a href="#" class="sub_heading">$20 e-Voucher Code Validation Form </a></h1></div></div>
          </div>
          </div>
          </div>
          <div class="container login-form">
          <div class="loginColumns">
          <apex:pageMessages />
          <div class="form-group">
              <apex:outputLabel value="ECP’s Account Number" for="SAPID" style="font-size: 15px;"/> <b>*</b>
              <apex:InputText id="SAPID" value="{!SAPID}" styleClass="form-control"/>
          </div> 
          <div class="form-group">
              <apex:outputLabel value="$20 E-Voucher Code" for="VoucherCode" style="font-size: 15px;"/> <b>*</b>
              <apex:InputText id="VoucherCode" value="{!VoucherCode}" styleClass="form-control"/>  
          </div>
          <div class="form-group">
              <apex:outputLabel value="Image of the Receipt:" for="Receipt" styleClass="form_label" style="font-size: 15px;"/>
              <apex:inputFile id="fileToUpload" value="{!fileBody}" filename="{!fileName}" styleClass="input-file" style="padding:0px 0px;"/>
          </div> 
          
          <div class="form-group">
              <apex:commandButton value="Validate E-Voucher" action="{!ValidateVoucher}" onclick="validate();" styleClass="btn btn-primary block half-width"  style="padding:5px 20px;font-size:15px;color:White; background:#4891dc;border-color:White;"/> 
          </div>
          <div id="result">
              <apex:outputPanel id="ShowResult" rendered="{!showpanel}" styleClass="alert alert-danger" style="padding:0px 10px;font-size:15px; display:block;">
                  <font color="{!fontcolor}"> {!status}</font> 
              </apex:outputPanel> 
          </div>
      </div>
      </div>
      </body>
    
      </apex:form>
      <div class="footer-container">
      <div class="container foooter-primary-container">
         <div class="col-lg-6 footer-primary">
         <div class="col-lg-offset-6">
           <p><apex:outputLink value="http://www.acuvue.com.sg/about-acuvue/" style="color:#0080FF;" target="tr1"> About ACUVUE </apex:outputLink> </p>
       
          <p> <apex:outputLink value="http://www.acuvue.com.sg/contact-us" style="color:#0080FF;" target="tr2">Contact US</apex:outputLink> </p> 
       
          <p><apex:outputLink value="http://www.acuvue.com.sg/legal-notice" style="color:#0080FF;" target="tr3">Legal Notice</apex:outputLink> </p>
      
          <p> <apex:outputLink value="http://www.acuvue.com.sg/privacy-policy" style="color:#0080FF;" target="tr4">Privacy Policy</apex:outputLink> </p>
          </div>
       </div>
       <div class="col-lg-6 footer-secondary">
           <p><apex:outputText value="© Johnson & Johnson Pte. Ltd 2015"></apex:outputText></p>
           <p><apex:outputText value="This site is published by Johnson Johnson Pte. Ltd, which is solely responsible for its content."></apex:outputText></p>
          <p> <apex:outputText value="This site is intended for use by Eye Care Professionals of Singapore."></apex:outputText></p>
           <p><apex:outputText value="Date Last Modified: 2015/08/27."></apex:outputText></p>
       </div>
       </div>
       </div>
      
      <script>
      
           $(document).ready(function() {
            $('[id$=ECPForm]').validate();
               $('[id$=SAPID]').rules("add",{
                required: true
              });
            
            $('[id$=VoucherCode]').rules("add",{
                required: true
             });
             
         });
         
         function validate()
         {
             var ecpid= document.getElementById('{!$Component.ECPForm.SAPID}').value;
             
             var code = document.getElementById('{!$Component.ECPForm.VoucherCode}').value;             
             
             if(ecpid == "" || code == "")
             {
                 $("#result").hide();
             }
         }
     
     </script>
      
      
 <style>
      
    .gray-bg {
        background-color: #D5F1FF;
    }
        
    .logo-name{
        color: #003380;
        font-size:25px;
        font-weight: 300;
        letter-spacing: -0px;
        margin-bottom: 0px;
        padding: 30px 380px;
        margin: 0 auto;
        
    }
    .loginColumns {
    max-width: 500px;
    margin: 0 auto;
    padding: 0px 50px;
    }
    .form-group {
    margin-bottom: 15px;
    width:800px;    
    }   

    .form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 4px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 40% !important;
    font-size: 14px;
    } 
    
    .input-file{
        background-color: #FDFEFE;
        border: 1px solid #e5e6e7;
        padding: 5px 5px;
        width: 33% !important;
        font-size: 16px;
    }
    
    
    b { 
        color: red;
    }
    .gray-bg {background-color:#FDFEFE !important;}
.container .logo-name {padding:0px}
.login-form .loginColumns {max-width:375px; padding:30px 50px; background-color:#e1e1e1;}
.row .middle-box h1 a.sub_heading {text-decoration:none; font-size:18px !important; font-weight:bold; text-transform:uppercase;}
.login-form .form-group .form-control {width:33% !important;}
.login-form .form-group .form-control:focus {border-color:#337ab7 !important;}
.footer-container{background-color:#D2E6ED;}
.footer-secondary {color:#777; padding:0px 0px 20px 0px;}
.footer-primary {padding:20px 0px;}
.footer-secondary {padding:20px 0px;}
.login-form {padding:20px 0px;}
.half-width{width:100%; max-width:265px;}
.container.middle-box.loginscreen {width:400px;}
.row .sub_heading:hover {color:#337ab7 !important;}
.row .loginscreen.middle-box {width:400px}
.header-logo {background-color:#D2E6ED;}
@media only screen and  (max-width: 480px) 
{
.login-form .loginColumns {padding:30px 20px;}
.container.middle-box.loginscreen
{width:300px;}
.row .loginscreen.middle-box {width:300px}
}
/*.form_label {float:left;}*/
.pull-right.item-right {padding-right:20px !important;}
@media only screen and  (min-width:1024px) 
{

.pull-right.item-right {padding-right:8em !important;}

}

    </style>      

</apex:page>