.THIS .slds-input{
        width:80% !important;
}
.THIS .negMArginTop{    
    margin-top: -3rem;
}
.THIS .noTopMargin{
    padding-top: 0 !important;
}
.THIS .uiOutputText{
        float: right;
    padding-right: 61%;
}