.THIS.Bottom {
    position:fixed;
    bottom:0;
    Width:100%;
}
.THIS .fontSize{
    font-size: .75rem;
}
@media (max-width: 1280) {
    .THIS.scrollerSize {
        height: 51rem !important;
    }
}
@media (min-width: 1300) {
    .THIS.scrollerSize {
        height: 35rem !important;
    }
}
.THIS #modalbody{
    display: block;
}