<apex:component >
   <div class="row header-logo">
                  <div class="container">
                      <div Style="padding: 30px 0px;" class="pull-right item-right"><apex:image value="{!$Resource.Acuvue_Home}" height="" width=""/></div>
                  </div>
              </div> 
</apex:component>