.THIS .boxsize{
    width:100%;
}
.THIS .scrollerSize {
    height: 11rem !important;
    padding: 0 2rem 0 2rem;
    background-color: white;
}
.THIS .footerCSS{
    background-color: white;
    position: relative;
}