.THIS .anyCalendar{
    font-family: 'Salesforce Sans',Arial,sans-serif;
}
.THIS .negMargin{
    margin-top: -3.5rem;
}
.THIS .fc-toolbar h2 {
    margin: 0;
    font-family: 'Salesforce Sans',Arial,sans-serif;
    font-size: 1.5em;
    line-height: 1.5;
    color: rgb(22, 50, 92);
}
.THIS .fc-content{
    font-size : 75%;
}
.THIS .displayCSS{
    display: none;
}
.THIS .textCenter{
    text-align: center;
}
.THIS .mRight{
    margin-right: 1rem;
}
.THIS .paddingR{
    padding-right: 1rem;
}
.THIS button.fc-button {
    text-transform: capitalize;
}
.THIS .headerCSS{
    height: 2rem;padding: 0.5rem;
    font-weight: bold;
}
.THIS .recCSS{
    border:1px solid rgb(112, 110, 107);
}
.THIS .badgeCss{
    vertical-align: unset;
}
.THIS .searchCSS{
    margin-top: 1.7rem;margin-right: -1.5rem;
}
.THIS .pageCSS{
    text-align:right;
    position: absolute;
    top: 0;
    right: 0;
}
.THIS .fc-icon {
    font-family: 'Salesforce Sans',Arial,sans-serif;
}
.THIS.bgWhite{
    background:white;
}
.THIS .fc-time-grid-container{
    height: 450px;
}
.THIS .showWeek{
    float: right;
    margin: 0.5rem;
}
.THIS .mandatory{
    float: left;
    padding-right: 2px;
    color: rgb(194, 57, 52);
    font-weight: 700;
}
.THIS .cardMargin{
    margin: 1rem;
}
.THIS .marTop{
    margin-top: -1rem;
}