.THIS .whitebackground{
    background-color:white;
}
.THIS .whitedivCSS{
    background-color: #4891dc;
    color:white;
    height:4rem;
}
.THIS .whiteBG{
    background-color:white;
    height:4rem;
}
.THIS .diffColorCSS{
    background-color:white;
    height:4rem;
    color: #4891dc;
}
.THIS .custom-background{
    background-color:#e1e1e1;
    width:500px;
    height:inherit;
    padding:20px;
    margin-left:auto;
    margin-right:auto;
}
.THIS .customButton{
    background-color:#4891dc;
    width:100%;
    color:white;
    height:35px;
    margin-top:10px;
    font-size:18px;
    border-color:white;
}
.THIS.heading{
    text-decoration:none;
    font-size:18px !important;
    font-weight:bold;
    text-transform:uppercase;
    color:#337ab7;
}
.THIS.subheding{
    text-decoration:none;
    font-size:18px !important;
    font-weight:bold;
    color:black;
}
.THIS .formcss{
    font-weight:bold;
    color:black;
    padding:3%;
    font-size:15px;
}
.THIS .redCol{
    color:red;
}