.THIS .displayCSS{
    display: none;
}
.THIS .mandatory{
    float: left;
    padding-right: 2px;
    color: rgb(194, 57, 52);
    font-weight: 700;
}
.THIS .textCenter{
    text-align: center;
}
.THIS .mRight{
    margin-right: 1rem;
}
.THIS .errorCSS{
    color: red;
    font-size: 1rem;
}
.THIS .marTop{
    margin-top: -1rem;
}
.THIS .title{
    font-weight: bold;
}